<footer class="page-footer" id="contacts">
  <div class="container">
    <div class="footer-container">
      <div class="form-column-container">
        <a href="/index.html" class="footer-logo">
          <svg class="footer-logo-icon" width="83" height="23">
            <use href="../img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="subscribe-text">
          Subscribe to our newsletter for the latest updates on our yoga classes
          and events.
        </p>
        <div class="form-and-privacy-container">
          <form class="subscribe-form">
            <input
              class="subscribe-form-input"
              type="email"
              name="user_email"
              placeholder="Your email here"
              required
              pattern="([A-Za-z0-9_.-]{1,})@([A-Za-z0-9_.-]{1,})\.([A-Za-z]{2,8})"
            />
            <button class="subscribe-form-button" type="submit">Join</button>
          </form>
          <p class="privacy-text">
            By subscribing, you consent to our Privacy Policy and agree to
            receive updates.
          </p>
        </div>
        <p class="copyright copyright-desktop">
          &copy;2025 Yoga Studio. All rights reserved.
        </p>
      </div>
      <div class="all-links-container">
        <div class="links-container">
          <p class="links-title">Quick Links</p>
          <ul class="links-list">
            <li class="links-list-item">
              <a href="#yoga-classes">Yoga Classes</a>
            </li>
            <li class="links-list-item"><a href="#team">Team</a></li>
            <li class="links-list-item"><a href="#pricing">Pricing</a></li>
            <li class="links-list-item"><a href="#contacts">Contacts</a></li>
          </ul>
        </div>
        <div class="links-container">
          <p class="links-title">Connect With Us</p>
          <ul class="links-list">
            <li class="links-list-item">
              <a
                class="links-list-item-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="../img/sprite.svg#icon-facebook"></use>
                </svg>
                Facebook
              </a>
            </li>
            <li class="links-list-item">
              <a
                class="links-list-item-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="../img/sprite.svg#icon-instagram"></use>
                </svg>
                Instagram
              </a>
            </li>
            <li class="links-list-item">
              <a
                class="links-list-item-link"
                href="https://www.linkedin.com/"
                target="_blank"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="../img/sprite.svg#icon-linkedin"></use>
                </svg>
                LinkedIn
              </a>
            </li>
            <li class="links-list-item">
              <a
                class="links-list-item-link"
                href="https://www.youtube.com/"
                target="_blank"
              >
                <svg class="icons-footer" width="24" height="24">
                  <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
                YouTube
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="copyright copyright-mobile">
        &copy;2025 Yoga Studio. All rights reserved.
      </p>
    </div>
  </div>
</footer>
