<section class="galery-section">
  <div class="container">
    <h2 class="galery-title">Breathe in the Space</h2>
    <p class="galery-title-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="galery-title-list">
      <li class="galery-title-list-item">
        <div class="galery-pict">
          <picture>
            <source
              srcset="
                /img/webp/gallery_1_desk.webp    1x,
                /img/webp/gallery_1_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/webp/gallery_1_tab.webp    1x,
                /img/webp/gallery_1_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/webp/gallery_1_mob.webp    1x,
                /img/webp/gallery_1_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/gallery_1_desk.webp" alt="Exercise" />
          </picture>
        </div>
      </li>
      <li class="galery-title-list-item">
        <div class="galery-pict">
          <picture>
            <source
              srcset="
                /img/webp/gallery_2_desk.webp    1x,
                /img/webp/gallery_2_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/webp/gallery_2_tab.webp    1x,
                /img/webp/gallery_2_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/webp/gallery_2_mob.webp    1x,
                /img/webp/gallery_2_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/gallery_2_desk.webp" alt="Meditation" />
          </picture>
        </div>
      </li>
      <li class="galery-title-list-item">
        <div class="galery-pict">
          <picture>
            <source
              srcset="
                /img/webp/gallery_3_desk.webp    1x,
                /img/webp/gallery_3_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/webp/gallery_3_tab.webp    1x,
                /img/webp/gallery_3_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/webp/gallery_3_mob.webp    1x,
                /img/webp/gallery_3_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/gallery_3_desk.webp" alt="Training room" />
          </picture>
        </div>
      </li>
      <li class="galery-title-list-item">
        <div class="galery-pict">
          <picture>
            <source
              srcset="
                /img/webp/gallery_4_desk.webp    1x,
                /img/webp/gallery_4_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/webp/gallery_4_tab.webp    1x,
                /img/webp/gallery_4_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/webp/gallery_4_mob.webp    1x,
                /img/webp/gallery_4_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/gallery_4_desk.webp" alt="Training rooms" />
          </picture>
        </div>
      </li>
      <li class="galery-title-list-item">
        <div class="galery-pict">
          <picture>
            <source
              srcset="
                /img/webp/gallery_5_desk.webp    1x,
                /img/webp/gallery_5_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/webp/gallery_5_tab.webp    1x,
                /img/webp/gallery_5_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/webp/gallery_5_mob.webp    1x,
                /img/webp/gallery_5_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/gallery_5_desk.webp" alt="Meditation" />
          </picture>
        </div>
      </li>
      <li class="galery-title-list-item">
        <div class="galery-pict">
          <picture>
            <source
              srcset="
                /img/webp/gallery_6_desk.webp    1x,
                /img/webp/gallery_6_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/webp/gallery_6_tab.webp    1x,
                /img/webp/gallery_6_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/webp/gallery_6_mob.webp    1x,
                /img/webp/gallery_6_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/gallery_6_desk.webp" alt="Meditation" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
