<header>
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list-item">
          <a class="current-page page" href="/src/index.html">Yoga Classes</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#team">Team</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#testimonials">Testimonials</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#prising">Pricing</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#contacts">Contacts</a>
        </li>
      </ul>

      <button class="burger-btn" type="button" data-menu-open>
        <svg class="burger-btn-icon" width="16" height="12">
          <use href="/img/sprite.svg#icon-btn_burger"></use>
        </svg>
      </button>

      <svg class="yoga-bloom" width="83" height="24">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>

      <div class="header-join-href">
        <a href="#prising" class="header-join-btn"
          >Join <span class="now-span">Now</span></a
        >
      </div>
    </nav>
  </div>
</header>

<!-- NAVBAR-MENU -->
<div class="navbar-menu is-hidden" data-menu>
  <div class="container">
    <div class="navbar-menu-wrap">
      <button class="burger-btn" type="button" data-menu-close>
        <svg class="burger-btn-icon" width="12" height="12">
          <use href="/img/sprite.svg#icon-btn_close"></use>
        </svg>
      </button>

      <svg class="yoga-bloom" width="83" height="24">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>

      <div class="header-join-href">
        <a href="">Join</a>
      </div>
    </div>

    <div class="navbar-menu-list-wrap">
      <ul class="navbar-menu-list">
        <li class="header-list-item">
          <a class="current-page" href="/src/index.html">Yoga Classes</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#team">Team</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#testimonials">Testimonials</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#prising">Pricing</a>
        </li>
        <li class="header-list-item">
          <a class="current-page" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="navbar-menu-join">
      <a href="">Join</a>
    </div>
  </div>
</div>
