<header>
    <div class="container header-container">
    <nav class="header-nav">
<ul class="header-list">
    <li><a>Yoga Classes</a></li>
    <li><a>Team</a></li>
    <li><a>Testimonials</a></li>
    <li><a>Pricing</a></li>
    <li><a>Contacts</a></li>
</ul>

<button class="burger-btn" type="button">
    <svg class="burger-btn-icon" width="16" height="12">
    <use 
    href="/img/sprite.svg#icon-btn_burger">
    </use>
   </svg>
</button>

   <svg class="yoga-bloom" width="83" height="24">
    <use
     href="/img/sprite.svg#icon-logo">
    </use>
   </svg>


   <div class="header-join-href">
<a href="#prising">Join</a>
   </div>
</nav>
</div>
</header>




<!-- NAVBAR-MENU -->
<div class="navbar-menu is-hidden">
<div class="container">
    <div class="navbar-menu-wrap">
<button class="burger-btn" type="button">
    <svg class="burger-btn-icon" width="12" height="12">
    <use 
    href="/img/sprite.svg#icon-btn_close">
    </use>
   </svg>
</button>

   <svg class="yoga-bloom" width="83" height="24">
    <use
     href="/img/sprite.svg#icon-logo">
    </use>
   </svg>

   <div class="header-join-href">
<a href="">Join</a>
   </div>
</div>

<div class="navbar-menu-list-wrap">
<ul class="navbar-menu-list">
    <li><a>Yoga Classes</a></li>
    <li><a>Team</a></li>
    <li><a>Testimonials</a></li>
    <li><a>Pricing</a></li>
    <li><a>Contacts</a></li>
</ul>
</div>

<div class="navbar-menu-join">
    <a href="">Join</a>
</div>
</div>
</div>