<div class="backdrop is is-hidden" data-modal>
  <div class="modal">
    <button
      class="modal-close-bth"
      type="button"
      name="data-modal-close"
      data-modal-close
    >
      <svg class="icon-modal-back" width="32" height="32">
        <use href="/img/sprite.svg#icon-btn_close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="text-modal-session">One Session</p>
    <p class="modal-price-session">$10</p>
    <form>
      <div class="form-container">
        <div class="form-info">
          <label for="user-name" class="form-label">Your Name</label>
          <div class="input-wrapper">
            <input
              id="user-name"
              name="user-name"
              type="text"
              class="form-input"
              placeholder="Liam"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-info">
            <label for="user-email" class="form-label">Email</label>
            <div class="input-wrapper">
              <input
                id="user-email"
                name="user-email"
                type="email"
                class="form-input"
                placeholder="hello@yogabloom.com"
                required
              />
            </div>
          </div>

          <div class="form-info">
            <label for="user-phone" class="form-label">Phone number</label>
            <div class="input-wrapper">
              <input
                id="user-phone"
                name="user-phone"
                type="tel"
                class="form-input"
                placeholder="+380 (95) 123 12 12"
                required
              />
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="submit-bth-modal">Go to checkout</button>
    </form>
  </div>
</div>

<!-- Modal 65$ -->

<div class="backdrop is-hidden" data-modal2>
  <div class="modal">
    <button
      class="modal-close-bth"
      type="button"
      name="data-modal-close2"
      data-modal-close2
    >
      <svg class="icon-modal-back" width="32" height="32">
        <use href="/img/sprite.svg#icon-btn_close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="text-modal-session">8 Sessions Package</p>
    <p class="modal-price-session">$65</p>
    <form>
      <div class="form-info">
        <label for="user-name" class="form-label">Your Name</label>
        <div class="input-wrapper">
          <input
            id="user-name1"
            name="user-name"
            type="text"
            class="form-input"
            placeholder="Liam"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-info">
          <label for="user-email" class="form-label">Email</label>
          <div class="input-wrapper">
            <input
              id="user-email1"
              name="user-email"
              type="email"
              class="form-input"
              placeholder="hello@yogabloom.com"
              required
            />
          </div>
        </div>
        <div class="form-info">
          <label for="user-phone" class="form-label">Phone number</label>
          <div class="input-wrapper">
            <input
              id="user-phone1"
              name="user-phone"
              type="tel"
              class="form-input"
              placeholder="+380 (95) 123 12 12"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="submit-bth-modal">Go to checkout</button>
    </form>
  </div>
</div>

<!-- modal 80$ -->

<div class="backdrop is-hidden" data-modal3>
  <div class="modal">
    <button
      class="modal-close-bth"
      type="button"
      name="data-modal-close3"
      data-modal-close3
    >
      <svg class="icon-modal-back" width="32" height="32">
        <use href="/img/sprite.svg#icon-btn_close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="text-modal-session">12 Sessions Package</p>
    <p class="modal-price-session">$80</p>
    <form class="form-container-wh">
      <div class="form-info">
        <label for="user-name" class="form-label">Your Name</label>
        <div class="input-wrapper">
          <input
            id="user-name2"
            name="user-name"
            type="text"
            class="form-input"
            placeholder="Liam"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-info">
          <label for="user-email" class="form-label">Email</label>
          <div class="input-wrapper">
            <input
              id="user-email2"
              name="user-email"
              type="email"
              class="form-input"
              placeholder="hello@yogabloom.com"
              required
            />
          </div>
        </div>
        <div class="form-info">
          <label for="user-phone" class="form-label">Phone number</label>
          <div class="input-wrapper">
            <input
              id="user-phone2"
              name="user-phone"
              type="tel"
              class="form-input"
              placeholder="+380 (95) 123 12 12"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="submit-bth-modal">Go to checkout</button>
    </form>
  </div>
</div>
