<section class="prising">
  <div class="container prising-main">
    <div class="prising-main-text">
      <p class="p-prising-main">Affordable</p>
      <h2 class="h-prising">Pricing Plans</h2>
      <p class="prising-p-main">
        Choose the perfect plan for your yoga journey.
      </p>
    </div>
    <ul class="prising-main-ul">
      <li class="prising-main-li">
        <h3 class="prising-h">One Session</h3>
        <p class="prising-p">$10</p>
        <ul class="prising-ul">
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">1 group session</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">10% discount for next 2 Sessions</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">Community support group</p>
          </li>
        </ul>
        <button class="btn-prising" type="button">
          <a href="#prising">Join</a>
        </button>
      </li>
      <li class="prising-main-li">
        <h3 class="prising-h">8 Sessions Package</h3>
        <p class="prising-p">$65</p>
        <ul class="prising-ul">
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">6 Group Sessions</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">2 Individual Sessions</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">Community support group</p>
          </li>
        </ul>
        <button class="btn-prising" type="button">
          <a href="#prising">Join</a>
        </button>
      </li>
      <li class="prising-main-li prising-full">
        <h3 class="prising-h">12 Sessions Package</h3>
        <p class="prising-p">$80</p>
        <ul class="prising-ul">
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">8 Group Sessions</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">4 Individual Sessions</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">Monthly yoga challenges</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">Exclusive member discounts</p>
          </li>
          <li class="prising-li">
            <div class="prising-svg">
              <svg class="svg-prising" width="17" height="12">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="svg-p">Community support group</p>
          </li>
        </ul>
        <button class="btn-prising" type="button">
          <a href="#prising">Join</a>
        </button>
      </li>
    </ul>
  </div>
</section>
