<section class="team-section" id="team">
  <div class="container team-container">
    <div class="first-info">
      <p class="main-text">Meet</p>
      <h2 class="main-title">Our Team</h2>
      <p class="subtitle-text">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <ul class="coach-list">
      <li class="coach-item">
        <picture>
          <source
            srcset="
              /img/img.team/img-desk.jpg    1x,
              /img/img.team/img-x2-desk.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/img.team/img-x1-tab.jpg 1x,
              /img/img.team/img-x2-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/img.team/img-x1-mob.jpg 1x,
              /img/img.team/img-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/img.team/img-x1-mob.jpg"
            alt="Liam Johnson, Yoga Instructor"
          />
        </picture>
        <div class="coach-block">
          <h3 class="coach-name">Liam Johnson</h3>
          <p class="coach-position">Yoga Instructor</p>
          <p class="coach-info">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="social-team-list">
            <li class="social-team">
              <a
                href="https://www.linkedin.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social-team">
              <a
                href="https://www.instagram.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="coach-item">
        <picture>
          <source
            srcset="
              /img/img.team/img2-desk.jpg    1x,
              /img/img.team/img2-x2-desk.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/img.team/img2-x1-tab.jpg 1x,
              /img/img.team/img2-x2-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/img.team/img2-x1-mob.jpg 1x,
              /img/img.team/img2-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/img.team/img2-x1-mob.jpg"
            alt="Emma Stone, Meditation Coach"
          />
        </picture>

        <div class="coach-block">
          <h3 class="coach-name">Emma Stone</h3>
          <p class="coach-position">Meditation Coach</p>
          <p class="coach-info">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="social-team-list">
            <li class="social-team">
              <a
                href="https://www.linkedin.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="coach-item">
        <picture>
          <source
            srcset="
              /img/img.team/img3-desk.jpg    1x,
              /img/img.team/img3-x2-desk.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/img.team/img3-x1-tab.jpg 1x,
              /img/img.team/img3-x2-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/img.team/img3-x1-mob.jpg 1x,
              /img/img.team/img3-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/img.team/img3-x1-mob.jpg"
            alt="Sophia Lee, Pilates Trainer"
          />
        </picture>
        <div class="coach-block">
          <h3 class="coach-name">Sophia Lee</h3>
          <p class="coach-position">Pilates Trainer</p>
          <p class="coach-info">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="social-team-list">
            <li class="social-team">
              <a
                href="https://www.instagram.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="coach-item">
        <picture>
          <source
            srcset="
              /img/img.team/img4-desk.jpg    1x,
              /img/img.team/img4-x2-desk.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/img.team/img4-x1-tab.jpg 1x,
              /img/img.team/img4-x2-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/img.team/img4-x1-mob.jpg 1x,
              /img/img.team/img4-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img//img.team/img4-x1-mob.jpg"
            alt="Noah Brown, Yoga Therapist"
          />
        </picture>
        <div class="coach-block">
          <h3 class="coach-name">Noah Brown</h3>
          <p class="coach-position">Yoga Therapist</p>
          <p class="coach-info">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="social-team-list">
            <li class="social-team">
              <a
                href="https://www.linkedin.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="coach-item">
        <picture>
          <source
            srcset="
              /img/img.team/img5-desk.jpg    1x,
              /img/img.team/img5-x2-desk.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/img.team/img5-x1-tab.jpg 1x,
              /img/img.team/img5-x2-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/img.team/img5-x1-mob.jpg 1x,
              /img/img.team/img5-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/images/img5-x1-mob.jpg" alt="Ava Green, Fitness Trainer" />
        </picture>

        <div class="coach-block">
          <h3 class="coach-name">Ava Green</h3>
          <p class="coach-position">Fitness Trainer</p>
          <p class="coach-info">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="social-team-list">
            <li class="social-team">
              <a
                href="https://www.facebook.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-team">
              <a
                href="https://www.instagram.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-team">
              <a
                href="https://www.linkedin.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="coach-item">
        <picture>
          <source
            srcset="
              /img/img.team/img6-desk.jpg    1x,
              /img/img.team/img6-x2-desk.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/img.team/img6-x1-tab.jpg 1x,
              /img/img.team/img6-x2-tab.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/img.team/img6-x1-mob.jpg 1x,
              /img/img.team/img6-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img//img.team/img6-x1-mob.jpg"
            alt="We're hiring!, Join Us"
          />
        </picture>

        <div class="coach-block">
          <h3 class="coach-name">We're hiring!</h3>
          <p class="coach-position">Join Us</p>
          <p class="coach-info">
            If you're passionate about yoga, check our open positions and apply!
          </p>
          <ul class="social-team-list">
            <li class="social-team">
              <a
                href="https://www.facebook.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-team">
              <a
                href="https://www.instagram.com/"
                class="social-links"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
