<section class="yoga-section">
  <div class="container">
    <p class="yoga-title-t">Explore</p>
    <h2 class="yoga-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="yoga-title-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-title-list">
      <li class="yoga-title-list-item">
        <div class="yoga-pict">
          <picture>
            <source
              srcset="
                ../img/webp/yoga_1_desk.webp    1x,
                ../img/webp/yoga_1_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ../img/webp/yoga_1_tab.webp    1x,
                ../img/webp/yoga_1_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/webp/yoga_1_mob.webp    1x,
                ../img/webp/yoga_1_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/yoga_1_desk.webp" alt="Beginner Yoga" />
          </picture>
        </div>
        <h3>Beginner Yoga: Foundations</h3>
        <p>Learn the basics of yoga in a supportive environment.</p>
      </li>
      <li class="yoga-title-list-item">
        <div class="yoga-pict">
          <picture>
            <source
              srcset="
                ../img/webp/yoga_2_desk.webp    1x,
                ../img/webp/yoga_2_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ../img/webp/yoga_2_tab.webp    1x,
                ../img/webp/yoga_2_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/webp/yoga_2_mob.webp    1x,
                ../img/webp/yoga_2_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/yoga_2_desk.webp" alt="Vinyasa Flow" />
          </picture>
        </div>
        <h3>Vinyasa Flow: Energize Your Body and Mind</h3>
        <p>Experience a dynamic sequence that connects breath and movement.</p>
      </li>
      <li class="yoga-title-list-item full-width">
        <div class="yoga-pict">
          <picture>
            <source
              srcset="
                ../img/webp/yoga_3_desk.webp    1x,
                ../img/webp/yoga_3_desk@2x.webp 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ../img/webp/yoga_3_tab.webp    1x,
                ../img/webp/yoga_3_tab@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/webp/yoga_3_mob.webp    1x,
                ../img/webp/yoga_3_mob@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/webp/yoga_3_desk.webp" alt="Restorative Yoga" />
          </picture>
        </div>
        <h3>Restorative Yoga: Deep Relaxation and Healing</h3>
        <p>Unwind and rejuvenate with gentle poses and mindfulness.</p>
      </li>
    </ul>
    <div class="btn-yoga">
      <a href="#pricing" class="btn-yoga-ref">
        Join <span class="btn-yoga-span">now</span>
      </a>
    </div>
  </div>
</section>
