.about-us {
  background-color: #f2fef3;
  padding: 64px 0;
}
.div-about {
  max-width: 375px;
  padding: 0 16px;
}

.about-main {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #3a414b;
  margin-bottom: 20px;
}
.about-p-main {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #3a414b;
  margin-bottom: 48px;
}

.about-h {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #3a414b;
  margin-bottom: 20px;
}
.about-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #3a414b;
}
.ul-about {
}
.about-list {
  display: block;
  margin-bottom: 48px;
}
.btn-about {
  background-color: #c2d9fc;
  margin: 0 16px;
  color: #0d0b0a;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  text-align: center;
}
.btn-about-ref {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.btn-span {
  display: none;
}
@media only screen and (min-width: 768px) {
  .about-us {
    background-color: #f8fbfe;
  }
  .div-about {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  .about-main {
    margin-bottom: 24px;
  }
  .about-p-main {
    margin-bottom: 40px;
  }
  .ul-about {
    display: flex;
    flex-wrap: wrap;
    gap: 47px 24px;
    max-width: 768px;
    margin: 0 32px;
    margin-bottom: 40px;
  }
  .about-list {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
  .about-h {
    font-size: 23px;
    margin-bottom: 0;
  }
  .about-p {
    margin: 0;
  }
  .btn-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    width: 110px;
    height: 46px;
    margin: 0 auto;
    padding: 0;
  }
  .btn-about-ref {
    display: flex;
    gap: 8px;
  }
  .btn-span {
    display: flex;
  }
}
@media only screen and (min-width: 1336px) {
  .div-about {
    max-width: 1440px;
  }
  .ul-about {
    max-width: 1312px;
    flex-wrap: nowrap;
  }
  .about-list {
    width: 310px;
  }
  .about-h {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .about-p {
  }
}
