.galery-section {
  padding: 64px 0;
  background-color: var(--color-drover-lightest);
}
.galery-section .container {
  padding-left: 20px;
  padding-right: 20px;
}
.galery-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-3-text);
  margin-bottom: 20px;
}
.galery-title-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 48px;
}
.galery-title-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.galery-title-list-item {
  width: calc((100% - 24px) / 2);
}

@media only screen and (min-width: 768px) {
  .galery-section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--color-scheme-3-background);
  }
  .galery-section .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .galery-title {
    margin-bottom: 24px;
  }
  .galery-title-text {
    margin-bottom: 80px;
    color: var(--color-scheme-3-text);
  }
}
@media only screen and (min-width: 1336px) {
  .galery-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .galery-section .container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .galery-title {
    font-size: 52px;
  }
  .galery-title-text {
    width: 768px;
    margin: 0 auto 80px auto;
    font-weight: 500;
  }
  .galery-title-list-item {
    width: calc((100% - 48px) / 3);
  }
}
