* {
  box-sizing: border-box;
}
svg {
  cursor: pointer;
}
a {
  cursor: pointer;
}
header {
  background: var(--color-scheme-3-background);
}

.header-container {
  height: 64px;
  padding: 0 16px;
}

.header-nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-list {
  display: none;
}
.header-list-item:hover,
.header-list-item:focus {
  background-color: #8fbafb;
}

.burger-btn {
  border: none;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: 20px;
  margin-right: 110px;
  background-color: transparent;
}

.yoga-bloom {
  width: 83px;
  height: 23px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 56px;
}

.header-join-href {
  width: 74px;
  height: 34px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  padding: 4px 20px;
  background: var(--color-hawkes-blue);
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
}

.header-join-href:hover,
.header-join-href:focus {
  background-color: #8fbafb;
}
.now-span {
  display: none;
}
.header-list-item {
  text-decoration: none;
}

.current-page.page {
  border-bottom: 2px solid var(--opacity-neutral-darkest-50);
  width: 89px;
}
.current-page:hover,
.current-page:focus {
  color: #404bbf;
}

/* TABLET */
@media (min-width: 768px) {
  .header-container {
    height: 72px;
  }

  .burger-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 290px;
  }

  .yoga-bloom {
    margin-top: 20px;
    margin-bottom: 28px;
    margin-right: 205px;
  }

  .now-span {
    display: inline;
  }
  .header-join-href {
    width: 107px;
    height: 42px;
    padding: 8px 20px;
  }
}

/* DESKTOP */
@media (min-width: 1336px) {
  .header-container {
    padding: 0 64px;
  }
  .header-nav {
    position: relative;
  }
  .burger-btn {
    display: none;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-3-text);
  }

  .yoga-bloom {
    position: absolute;
    left: 614px;
    margin: 0;
  }
  .header-join-href {
    margin-left: auto;
  }
}

/* <!-- NAVBAR-MENU --> */

.navbar-menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  margin-bottom: 28px;
}

.navbar-menu-list {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-3-text);
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navbar-menu-list-wrap {
  margin-bottom: 288px;
}

.navbar-menu-join {
  width: 74px;
  height: 34px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  padding: 10px 24px;
  width: 343px;
  height: 46px;
  background: var(--color-hawkes-blue);
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
  margin: 0 auto;
}
.navbar-menu-join:hover,
.navbar-menu-join:focus {
  background-color: #8fbafb;
}

.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background: var(--color-scheme-3-background);
  font-family: var(--font-family);
  color: var(--color-scheme-3-text);
}

.navbar-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: all;
}
