* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

picture img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.hero{
    width: 100%;
   display: flex;
}

.hero-container {
  box-sizing: border-box;
  margin: 0 auto;
}

.hero-header{
  font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #0d0b0a;
}

.hero-text{
  font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
}

.hero-text-cont{
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.hero-content{
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 48px 16px;
}

.btn-cont{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.hero-btn_1 {
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
  background-color: #C2D9FC;
  text-align: center;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    transition: background-color 0.3s ease, color 0.3s ease;
      cursor: pointer;
}

.hero-btn_2 {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
  background: rgba(13, 11, 10, 0.05);
  text-align: center;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    transition: background-color 0.3s ease, color 0.3s ease;
      cursor: pointer;
}

.hero-btn_1:hover,
.hero-btn_1:focus{
  background-color: #8fbafb;
}

.hero-btn_1,
.hero-btn_2 {
  text-decoration: none;
  display: inline-block;
}

.hero-btn_2:hover,
.hero-btn_2:focus{
  background-color: rgba(185, 185, 185, 0.362);
}


@media(min-width:768px) {
  .hero-container {
      box-sizing: border-box; 
    }
      
  .hero-content{
    padding: 24px 32px;
  }

  .hero-header{
    width: 423px;
  }

  .hero-text{
    display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
        width: 641px;
  }
  
    .btn-cont{
      display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;
    }

    .hero-btn_1{
        width: 144px;
        height: 46px;
        background-color: #C2D9FC;
    }

    .hero-btn_2{
      width: 144px;
      height: 46px;
    }
  }

@media(min-width:1336px) {
  .hero-container {
    box-sizing: border-box;
  }
  
    .hero-content {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 24px;
      margin: 0 auto;
      padding: 80px 64px;
    }

  .hero-header{
    width: 644px;
    height: 258px;
      font-size: 72px;
      line-height: 1.2;
      color: #0d0b0a;
  }

    .hero-text-cont{
      padding: 8px 0px 0px 0px;
      width: 641px;
      height:144px;
  }

    .hero-text{
      font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        color: #0d0b0a;
    }

    .hero-btn_2{
      width:128px;
      padding: 10px 0px;
      text-align: center;
    }

    .hero-btn_1 {
      width: 113px;
      padding: 10px 0px;
      text-align: center;
    }

    .btn-cont{
      
      width: 257px;
        height: 46px;
        flex-shrink: 0;
    }

}