.prising {
  background: var(--color-scheme-2-background);
  padding: 64px 16px;
}
.prising-main-text {
  margin-bottom: 48px;
  width: 343px;
}
.prising-main {
  max-width: 343px;
  display: flex;
  flex-direction: column;
}
.p-prising-main {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-scheme-2-text);
  margin-bottom: 12px;
}
.h-prising {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-2-text);
  margin-bottom: 20px;
}
.prising-p-main {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-scheme-2-text);
}
.prising-main-ul {
  width: 343px;
}
.prising-main-li {
  border: 0px solid var(--color-scheme-2-border);
  border-radius: 16px;
  padding: 32px 24px;
  width: 343px;
  background: var(--color-scheme-2-foreground);
  margin-bottom: 32px;
}
.prising-main-li:last-child {
  margin-bottom: 0;
}
.prising-h {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-2-text);
  margin-bottom: 8px;
}
.prising-p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-2-text);
  margin-bottom: 24px;
}
.prising-ul {
  padding: 8px 0;
  width: 295px;
  margin-bottom: 32px;
}
.prising-li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-2-text);
  margin-bottom: 16px;
  display: flex;
}
.prising-li:last-child {
  margin-bottom: 0;
}
.prising-svg {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
.svg-prising {
}
.svg-p {
}
.btn-prising {
  font-family: var(--font-family);
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  padding: 10px 24px;
  width: 295px;
  height: 46px;
  background: var(--color-hawkes-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
}
@media only screen and (min-width: 768px) and (max-width: 1335px) {
  .prising {
    max-width: 767px;
    padding: 40px 32px;
    margin: 0 auto;
  }
  .prising-main {
    max-width: 767px;
    padding: 0;
  }
  .prising-main-text {
    width: 768px;
  }
  .prising-main-ul {
    width: 704px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .prising-main-li {
    width: 340px;
    margin-bottom: 0;
    padding: 16px;
  }
  .prising-h {
    font-size: 22px;
    width: 320px;
    margin-bottom: 24px;
  }
  .prising-p {
    font-size: 72px;
    margin-bottom: 24px;
  }
  .prising-full {
    width: 704px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    height: 383px;
    padding: auto 0;
    justify-content: center;
  }
  .order1 {
    order: 1;
    max-width: 320px;
  }
  .order2 {
    order: 3;
    max-width: 320px;
    position: absolute;
    top: 80px;
    right: 15px;
    margin: 0;
  }
  .order3 {
    order: 2;
    max-width: 320px;
  }
}
@media only screen and (min-width: 1336px) {
  .prising {
    padding: 112px 0;
  }
  .prising-main {
    max-width: 1440px;
    padding: 0 64px;
  }
  .prising-main-text {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .prising-main-ul {
    width: 1312px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .prising-main-li {
    width: calc((100% - 24px) / 3);
    margin-bottom: 0;
  }
  .btn-prising {
    width: 100%;
    margin-top: 84px;
  }
  .order3 {
    margin-top: 0;
  }
}
