:root {
  --font-family-sarabun: 'Sarabun', sans-serif;
  --font-family-cabin: 'Cabin', sans-serif;
  --color-drover-lightest: #f2fafa;
  --color-neutral-darkest: #0d0b0a;
}
* {
  box-sizing: border-box;
}

.team-section {
  padding-top: 64px;
  padding-bottom: 64px;
  background: var(--color-drover-lightest);
  color: var(--color-neutral-darkest);
}

.main-text {
  font-family: var(--font-family-sarabun);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 12px;
}

.main-title {
  font-family: var(--font-family-cabin);
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 20px;
}

.subtitle-text {
  font-family: var(--font-family-sarabun);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--color-neutral-darkest);
}

.first-info{
margin-bottom: 48px;
}

.coach-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.coach-item {
  width: 100%;
}


.coach-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 20px;
}

.coach-block {
  display: flex;
  flex-direction: column;
}

.coach-name {
  font-family: var(--font-family-sarabun);
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: var(--color-neutral-darkest);
}

.coach-position {
  font-family: var(--font-family-sarabun);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 12px;
}

.coach-info {
font-family: var(--font-family-sarabun);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 20px;
}

.social-team-list {
  display: flex;
  gap: 14px;
  justify-content: center;
}

.social-links {
  color: var(--color-neutral-darkest);
  transition: color 0.3s ease;
}

.social-links:hover {
  color: #8a8a8a;
}

.social-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team-section {
    padding-top: 40px;
    padding-bottom: 40px;

  }

    .team-container {
      padding: 0 32px;
    }

 .first-info{
  margin-bottom: 40px;
 } 

  .main-text{
    font-family: var(--font-family-sarabun);
    margin-bottom: 16px;
    color: var(--color-neutral-darkest);
  }

  .main-title {
    font-family: var(--font-family-cabin);
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 24px;
    color: var(--color-neutral-darkest);
  }


  .subtitle-text {
    font-family: var(--font-family-sarabun);
    font-size: 18px;
    line-height: 29px;
    color: var(--color-neutral-darkest);
  }


  .coach-list {
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    flex-direction: row;
  }

  .coach-item {
    width: calc((100% - 48px) / 2);
    display: flex;
    flex-direction: column;
  }

.coach-item img{
margin-bottom: 24px;
}

  .coach-block {
    display: flex;
    flex-direction: column;
  }

  .coach-name {
    font-family: var(--font-family-sarabun);
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-neutral-darkest);

  }

  .coach-position {
    font-family: var(--font-family-sarabun);
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 16px;
    color: var(--color-neutral-darkest);
  }

  .coach-info {
    margin-bottom: 24px;
  }

}

@media screen and (min-width: 1336px) {
  .team-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .team-container{
    padding: 0 64px;
  }

  .main-text {
    font-family: var(--font-family-sarabun);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
    color: var(--color-neutral-darkest);
  }

  .main-title {
    font-family: var(--font-family-cabin);
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-neutral-darkest);
    margin-bottom: 24px;
  }

  .subtitle-text {
    font-family: var(--font-family-sarabun);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: var(--color-neutral-darkest);
  }

  .coach-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .coach-item {
    width: calc((100% - 48px) / 3);
    border-radius: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .coach-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 24px;
  }

  .coach-block {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .coach-name {
    font-family: var(--font-family-sarabun);
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: var(--color-neutral-darkest);
    
  }

  .coach-position {
    font-family: var(--font-family-sarabun);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
    color: var(--color-neutral-darkest);
  }

  .coach-info {
    font-family: var(--font-family-sarabun);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 24px;
  }

  .social-team-list {
    display: flex;
    gap: 14px;
    justify-content: center;
  }
}